/*===== base =====*/
* {
    margin: 0;
    padding: 0;
    transition: all .35s;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body, button, input, textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--body-font);
    background: var(--bg-black-900);
}