/* reusable css classes, layout */
.container {
    margin: auto;
    max-width: 768px;
}

.grid {
    gap: 1.25rem;
    display: grid;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
  
.main-content {
    overflow: hidden;
}
  
.section {
    padding: 4.5rem 0 1rem;

    &-title, &-subtitle {
        text-align: center;
    }

    &-title {
        margin-bottom: 2rem;
        color: var(--text-black-900);
        font-size: var(--h2-font-size);
    }

    &-subtitle {
        display: block;
        color: var(--text-black-700);
        font-size: var(--smaller-font-size);
    }
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}
