/*===== buttons =====*/
.button {
    padding: .75rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    color: var(--text-black-700);
    font-weight: var(--font-medium);
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);

    &:hover {
        color: var(--main-color);
        /*
        animation-duration: 0.3s;
        animation-name: button-push;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        */
    }

    &--ghost {
        padding: .75rem 1rem;
        border-radius: .5rem;
        display: inline-block;
        color: var(--text-black-900);
        background-color: transparent;
        border: 1px solid var(--text-black-700);

        &:hover {
            color: var(--main-color);
            border: 1px solid var(--main-color-alt);
            /*
            animation-duration: 0.3s;
            animation-name: button-push;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            */
        }
    }
}