/*===== home =====*/
.home {
    height: 100vh;
    min-height: 100vh;
    justify-content: center;

    &-container {
        row-gap: 4.5rem;
        position: relative;
        /* padding-top: 2rem */
    }

    &-name {
        color: var(--text-black-900);
        font-size: var(--biggest-font-size);
    }

    &-education {
        margin-bottom: 2.5rem;
        color: var(--text-black-700);
        font-weight: var(--font-medium);
        font-size: var(--small-font-size);
    }

    &-social {
        margin-bottom: 1.5rem;

        & li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        & a {
            font-size: var(--h3-font-size);

            & i {
                color: var(--text-black-900);
            }
        }
    }
}

.details {
    max-width: 540px;
    text-align: center;
}

.social-link {
    display: flex;
    padding: .25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25%;
    color: var(--text-black-900);
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
}

.scroll-down {
    left: 0;
    width: 100%;
    bottom: 5rem;
    position: absolute;
}

.mouse {
    margin: auto;
    display: block;
    width: 1.25rem;
    height: 1.75rem;
    margin-top: .75rem;
    border-radius: 45%;
    position: relative;
    border: 2px solid var(--text-black-900);

    &-wrapper {
        margin: auto;
        display: block;
        max-width: 100px;
        text-align: center;
        font-size: var(--small-font-size);

        & span {
            color: var(--text-black-900);
        }
    }
}

.wheel {
    left: 40%;
    top: .5rem;
    width: .25rem;
    height: .25rem;
    display: block;
    border-radius: 50%;
    position: absolute;
    animation: mouse 2s linear infinite;
    background-color: var(--text-black-900);
}