/*===== home =====*/
.home {
    height: 100vh;
    min-height: 100vh;
    justify-content: center;

    &-container {
        row-gap: 4.5rem;
        position: relative;
        /* padding-top: 2rem */
    }

    &-name {
        color: var(--text-black-900);
        font-size: var(--biggest-font-size);
    }

    &-education {
        margin-bottom: 2.5rem;
        color: var(--text-black-700);
        font-weight: var(--font-medium);
        font-size: var(--small-font-size);
    }

    &-social {
        margin-bottom: 1.5rem;

        & li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        & a {
            font-size: var(--h3-font-size);

            & i {
                color: var(--text-black-900);
            }
        }
    }
}

.details {
    max-width: 540px;
    text-align: center;
}

.social-link {
    display: flex;
    padding: .25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25%;
    color: var(--text-black-900);
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
}
