/*===== navigation =====*/
.toggle-btn {
    position: fixed;
    margin: 1.4em;
    padding: 1em;
    width: 40px;
    height: 12px;
    right: 0;
    z-index: 1;
}

span {

    &.nav-open {
        position: absolute;
        width: 40px;
        height: 2px;
        background: var(--first-color);
    }

    &.nav-close {
        position: absolute;
        width: 40px;
        height: 2px;
        background: var(--first-color);
        margin-top: 12px;
    }
}

.nav {
    z-index: 0;
    position: absolute;
    background: var(--title-color);
    height: 100vh;
    width: 100%;
    top: -100%;
}

.data {
    padding: 8em 0 0 2em;
    text-align: left;
}

ul {
    list-style: none;
}

li {
    
    &:first-child {
        color: var(--first-color-alt);
        font-family: 'Outfit', sans-serif;
        font-size: 24px;
    }

    &:not(:first-child) {
        color: var(--title-color);
        font-size: 42px;
    }
}

a {
    text-decoration: none;
    color: var(--body-color);
    font-family: 'Outfit', sans-serif;
}