/*===== scroll up =====*/
.scrollup {
    opacity: 1;
    right: 1rem;
    bottom: -20%;
    padding: .3rem;
    position: fixed;
    transition: .4s;
    display: inline-flex;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
    
    &-icon {
        font-size: 1.25rem;
        color: var(--text-black-900);
    }
}

/* show scroll up */
.show-scroll {
    bottom: 3rem;
}
