/*===== player =====*/
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-area-center {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    padding-top: 0.7rem;
    align-items: center;
    flex-direction: column;
}

.img-area {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100%;
    border: 6px solid var(--main-color);
}

.img-area img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.song-details {
    display: grid;
    font-size: 1rem;
    align-items: center;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;
    color: var(--text-black-700);
}

.song-details p {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--text-black-900);
}

.song-details .name {
    margin-top: 1rem;
    font-weight: 600;
    text-transform: none;
    color: var(--text-black-700);
    font-size: var(--h4-font-size);
}

.song-details .artist {
    font-size: 0.8rem;
    text-transform: none;
    color: var(--text-black-900);
}

.progress-area {
    height: 6px;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 50px;
    background: var(--bg-black-50);
}

.progress-area .progress-bar {
    width: 0%;
    height: inherit;
    position: relative;
    border-radius: inherit;
    background: var(--text-black-900);
}

.progress-bar::before {
    content: "";
    top: 50%;
    z-index: 2;
    opacity: 0;
    right: -5px;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    background: inherit;
    pointer-events: none;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer {
    margin-top: 2px;
    color: var(--bg-black-900);
}

.song-timer span {
    font-size: 13px;
    color: var(--text-black-900);
}

.controls {
    margin: 25px 0 5px 0;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-black-900);
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 25px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    width: 54px;
    height: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.play-pause i {
    width: 43px;
    height: 43px;
    line-height: 43px;
    position: absolute;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--text-black-900);
}

.music-list {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 101;
    width: 196px;
    padding: 14px;
    position: fixed;
    overflow: hidden;
    border-radius: 10px;
    pointer-events: none;
    background: var(--bg-black-100);
}

.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}

.header #close {
    font-size: 22px;
    color: var(--text-black-700);
}

.music-list ul {
    margin: 15px 0;
    overflow: auto;
    max-height: 260px;
    text-align: center;
    color: var(--text-black-900);
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
    color: var(--text-black-900);
}

.music-list ul li {
    display: flex;
    cursor: pointer;
    list-style: none;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--pl-border);
}

.music-list ul li:last-child {
    border-bottom: 0;
}

.music-list ul li .row span {
    font-size: 15px;
    color: var(--text-black-900);
}

.music-list ul li .row p {
    opacity: 0.9;
}

ul li .audio-duration {
    font-size: 15px;
    color: var(--text-black-900);
}

ul li .playing {
    pointer-events: none;
    color: var(--text-black-900);
}
